{% extends "layouts/base.html" %}

{% block titulopagina %}
Bad request! | CACo
{% endblock %}

{% block body %}

<div class="row">
  <div class="col">
    <div class="alert alert-danger shadow-sm" role="alert">
      <h2><b>400</b>: Bad request!</h2>
      <hr>
      <p class="text-justify">Descrição: {{exception}}</p>
      <p class="text-justify">Não encontro traduções boas para "bad request".</p>
      <p class="text-justify">Se você acredita que esse erro requer nossa atenção, utilize a página de contato, nosso Facebook ou nosso e-mail para nos avisar!</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    {% load static %}
    <center><img class="rounded shadow-lg" width="60%" src="{% static "400_bad-request.gif" %}" alt="Servidor (interpretado por cachorro) confuso com a request"></center>
  </div>
</div>

{% endblock %}
