{% extends "layouts/base.html" %}

{% block titulopagina %}
Proibido! | CACo
{% endblock %}

{% block body %}

<div class="row">
  <div class="col">
    <div class="alert alert-danger shadow-sm" role="alert">
      <h2><b>403</b>: Proibido!</h2>
      <hr>
      <p class="text-justify">Descrição: {{exception}}</p>
      <p class="text-justify">Se você acredita que esse erro requer nossa atenção, utilize a página de contato, nosso Facebook ou nosso e-mail para nos avisar!</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    {% load static %}
    <img class="rounded shadow-lg" width="60%" src="{% static "403_you-shall-not-pass.gif" %}" alt="Referência ao trecho 'you shall not pass' realizado por um gatinho.">
  </div>
</div>

{% endblock %}
