{% extends "layouts/base.html" %}

{% block titulopagina %}
{{pagina_titulo}} | CACo
{% endblock %}

{% block body %}

{# Colocamos as mensagens, se houver #}
{% if messages %}
{% for message in messages %}
<div class="row p-2">
    <div class="col">
        <div class="shadow-sm rounded alert {% if message.extra_tags %} alert-{{message.extra_tags}}{% endif %}">
            <h6 class="m-2"><b>{{message}}</b></h6>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

{# Colocamos o conteúdo da página estática se houver #}
{% if pagina %}
<div class="row">
    <div class="col">
        {{pagina.conteudo|safe}}
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col">
        <h4>{{formulario_titulo}}</h4>
        <hr>
    </div>
</div>

<div class="row p-1">
    <div class="col">
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <div class="table-responsive p-1">
                <table class="table table-borderless">
                    {{ form.as_table }}
                </table>
            </div>
            <button type="submit" class="btn btn-primary">Enviar!</button>
        </form>
    </div>
</div>

{% endblock %}
