database_data/
django-site/*env*/
django-site/djangosite/djangosite/adminstatic/
django-site/djangosite/static/*
!django-site/djangosite/static/.touch
bootstrap/node_modules/
bootstrap/build/
bootstrap/package-lock.json
certificados/*
!certificados/.touch
migrations/
__pycache__
*.key
*.sqlite3
*.pdf
