django-site/*env*/
django-site/djangosite/static/
django-site/djangosite/media/
django-site/djangosite/djangosite/static/*.js
django-site/djangosite/djangosite/static/*.css
node_modules/
bootstrap/build/
migrations/
__pycache__
*.key
*.sqlite3
*.pdf
*.json
*.pgsql
*.txt
!requirements.txt

