{% extends "layouts/base.html" %}

{% block titulopagina %}
Representantes discentes | CACo
{% endblock %}

{% block body %}

<div class="row">
  <div class="col">
    <h1>Representantes discentes</h1>
    <hr>
  </div>
</div>

<div class="row p-3">
  <div class="col">

    {% if pagina %}
    <div class="container">
      <div class="row">
        <div class="col">
          {{pagina.conteudo|safe}}
        </div>
      </div>
    </div>
    {% endif %}

    <div class="container">

      {# Por conta do .values() na QuerySet, temos que fazer essa arte #}
      {% for dicionarios in objetos %}
      {% with ano=dicionarios.ano_atuacao%}

      <div class="row p-2">
        <div class="col">
          <div class="alert alert-info rounded shadow-sm p-2" role="alert">
            <h4 class="p-2 m-2"><a class="alert-link" href="{% url 'representantes-discentes/ano/' ano  %}">Representantes discentes de {{ano}}</a></h4>
          </div>
        </div>
      </div>

      {% endwith %}
      {% endfor %}

    </div>

  </div>
</div>

{# Próximas páginas/páginas anteriores #}
{% if possui_mais_recente or possui_mais_antiga %}
<div class="row rounded border shadow-sm">
  {% if possui_mais_antiga %}
  <div class="col">
    <div class="float-left">
      <a class="btn btn-sm btn-link" href="{% url 'representantes-discentes/pagina/' pagina_atual|add:1 %}" role="button">Representantes discentes anteriores</a>
    </div>
  </div>
  {% endif %}

  {% if possui_mais_recente %}
  <div class="col">
    <div class="float-right">
      <a class="btn btn-sm btn-link" href="{% url 'representantes-discentes/pagina/' pagina_atual|add:-1 %}" role="button">Representantes discentes mais recentes</a>
    </div>
  </div>
  {% endif %}
</div>
{% endif %}

{% endblock %}
