{% extends "layouts/base.html" %}

{% load atas %}

{% block titulopagina %}
{% imprime_tipo_ata ata %} {{ata.data_criacao}} | CACo
{% endblock %}

{% block extrahead%}
{% load static %}
<script src="{% static "goback.js" %}"></script>
{% endblock%}

{% block body %}

<div class="row">
  <div class="col">
    <div class="alert alert-{% cor_alert_ata ata %} shadow-sm" role="alert">
      <h2>
        <p class="text-left"><b><i>{% imprime_tipo_ata ata %}</i></b></p>
      </h2>
      {% if ata.highlights %}
      <hr>
      <h4>
        <p class="text-justify"><small><i>{{ata.highlights}}</i></small></p>
      </h4>
      {% endif %}
    </div>
  </div>
</div>


<div class="row rounded border shadow-sm ml-1 mr-1">
  <div class="col">
    <div class="float-left">
      <small>Em <b>{{ata.data_criacao}}</b></small>
    </div>
    <div class="float-right">
      <button id="goback_button" title="Volta a página anterior" class="btn btn-sm btn-link">Retornar às atas</button>
    </div>
  </div>
</div>

<div class="row m-1 p-2">
  <div class="col">
    {{ata.conteudo|safe}}
  </div>
</div>

{% endblock %}
