{% extends "layouts/base.html" %}

{% block titulopagina %}
Atas | CACo
{% endblock %}

{% block body %}

{% load atas %}

{% if pagina_participe %}
<div class="row">
  <div class="col">
    {{pagina_participe.conteudo|safe}}
  </div>
</div>
{%endif %}

{% if atas_assembleias.count == 0 and atas_reunioes.count == 0 %}
<div class="row">
  <div class="col">
    <div class="alert alert-danger">
      <h2><b>Não há atas publicadas!</b></h2>
      <hr>
      <p class="text-justify">Não há nenhuma ata de reunião ou assembleia registrada atualmente.</p>
    </div>
  </div>
</div>
{% endif %}

{% if atas_reunioes.count > 0 %}
<div class="row pt-3">
  <div class="col">

    <h2>Últimas atas de reunião</h2>
    <hr>

    <div class="row">
      <div class="col">

        {% for ata in atas_reunioes %}
        <div class="row">
          <div class="col">
            <div class="alert alert-{% cor_alert_ata ata %} shadow-sm" role="alert">
              <h5><a href="{{ata.get_url}}" class="alert-link">{% imprime_tipo_ata ata %} <small>{{ata.data_criacao}}</small></a></h5>
              <i>{{ata.highlights}}</i>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>

    <div class="row rounded border shadow-sm ml-1 mr-1">
      <div class="col">
        <div class="float-right">
          <a class="btn btn-sm btn-link" href="{% url 'atas/reunioes/' %}" role="button">Ver mais atas de reuniões...</a>
        </div>
      </div>
    </div>

  </div>
</div>
{% endif %}

{% if atas_assembleias.count > 0 %}
<div class="row pt-3">
  <div class="col">

    <h2>Últimas atas de assembleia</h2>
    <hr>

    <div class="row">
      <div class="col">

        {% for ata in atas_assembleias %}
        <div class="row">
          <div class="col">
            <div class="alert alert-{% cor_alert_ata ata %} shadow-sm" role="alert">
              <h5><a href="{{ata.get_url}}" class="alert-link">{% imprime_tipo_ata ata %} <small>{{ata.data_criacao}}</small></a></h5>
              <i>{{ata.highlights}}</i>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>

    <div class="row rounded border shadow-sm ml-1 mr-1">
      <div class="col">
        <div class="float-right">
          <a class="btn btn-sm btn-link" href="{% url 'atas/assembleias/' %}" role="button">Ver mais atas de assembleias...</a>
        </div>
      </div>
    </div>

  </div>
</div>
{% endif %}

{% endblock %}
