{% extends "layouts/base.html" %}

{% block titulopagina %}
Contato | CACo
{% endblock %}

{% block extrahead %}
<script src='https://www.google.com/recaptcha/api.js?render={{captcha_site_key}}'></script>
{% endblock %}

{% block body %}

{# Colocamos o conteúdo da página estática se houver #}
{% if pagina %}
{{pagina.conteudo|safe}}
{% endif %}

{# Colocamos o formulário de contato #}
<div class="row">
  <div class="col">
    <h2>Formulário de contato</h2>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>Os itens marcados com <b>*</b> são obrigatórios.</p>
  </div>
</div>

<div class="row">
  <div class="col-auto">
    <form method="post" autocomplete="off">
      {% csrf_token %}

      <div class="table-responsive p-1">
        <table class="table table-borderless">
          {{ form.as_table }}
        </table>
      </div>

      <input name="g-recaptcha-response" id="g-recaptcha-response" type="hidden">

      {# Esse arquivo é criado em djangosite/settings.py (configuração do projeto Django) #}
      {% load static %}
      <script src="{% static 'chave_recaptcha.js' %}"></script>

      <button type="submit" class="btn btn-primary">Enviar!</button>
    </form>
  </div>
</div>

{% endblock %}
