{% extends "layouts/base.html" %}

{% block titulopagina %}
Agradecemos o contato! | CACo
{% endblock %}

{% block body %}

{# Colocamos o conteúdo da página estática se houver. Se não, colocamos a página padrão #}
{% if pagina %}
  {{pagina.conteudo|safe}}
{% else %}

  {# Explicamos que houve uma falha #}
  <div class="row">
    <div class="col">
      <div class="alert alert-success shadow-sm rounded" role="alert">
        <h2><b>Agradecemos o contato!</b></h2>
        <hr>
        <p class="text-justify">Se você deixou um e-mail para contato, iremos responder sua mensagem em breve!</p>
      </div>
    </div>
  </div>

  <div class="row p-3">
    <div class="col">
      <p class="text-justify">Olá, computeir*!</p>
      <p class="text-justify">Tod*s da gestão atual receberão esta mensagem. Se você deixou seu contato, precisa de uma resposta mais rápida e estivermos demorando, nos envie outra mensagem nos lembrando! Se preferir, nosso e-mail é: <a href="mailto:{{email}}">{{email}}</a> ♥</p>
    </div>
  </div>

{% endif %}

{% endblock %}
